/*
Author     : Krasimir Stoyanov
Company    : ProDevity
Description: AdminPanel Style-Layout

*/
/* Table of Content
==================================================

#GENERAL
#HEADER
#MAIN CONTENT
#FOOTER

=====SECTIONS=====
#POSTS
#ADD POST
#COMMENTS
#ABOUT
#LOG IN

*/
/* GENERAL
   ================================================== */
.fast-transition {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.slow-transition {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@font-face {
  font-family: 'jaapokki_enchanceregular';
  src: url('type/jaapokkienchance-regular-webfont.eot');
  src: url('type/jaapokkienchance-regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/jaapokkienchance-regular-webfont.woff2') format('woff2'), url('type/jaapokkienchance-regular-webfont.woff') format('woff'), url('type/jaapokkienchance-regular-webfont.ttf') format('truetype'), url('type/jaapokkienchance-regular-webfont.svg#jaapokki_enchanceregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'jaapokkiregular';
  src: url('type/jaapokki-regular-webfont.eot');
  src: url('type/jaapokki-regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/jaapokki-regular-webfont.woff2') format('woff2'), url('type/jaapokki-regular-webfont.woff') format('woff'), url('type/jaapokki-regular-webfont.ttf') format('truetype'), url('type/jaapokki-regular-webfont.svg#jaapokkiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('type/CenturyGothic.eot');
  src: url('type/CenturyGothic.woff') format('woff'), url('type/CenturyGothic.ttf') format('truetype'), url('type/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'CenturyGothic';
  font-size: 16px;
}
html,
body {
  background-color: #f2f2f2;
  font-family: 'CenturyGothic';
  font-size: 16px;
}
a.add {
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
a.add:hover,
a.add:focus,
a.add:active {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
a.green-color {
  color: #54c0b0;
}
a.absolute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
input.edit-input {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 0;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
input.edit-input:active,
input.edit-input:focus {
  outline: 0;
}
input.full-name {
  font-weight: bold;
  font-size: 1.5em;
  color: #54c0b0;
}
input.small {
  font-size: 85%;
}
textarea.edit-input {
  width: 100%;
  max-width: 100%;
  height: 150px;
  border: 0;
}
/* HEADER
   ================================================== */
header {
  width: 100%;
}
header nav.navbar {
  width: 100%;
  height: auto;
  border: 0;
  border-radius: 0;
  background-color: #33495d;
}
header nav.navbar div.container-fluid {
  width: 72%;
  height: 100%;
}
header nav.navbar div.container-fluid div.navbar-header a.navbar-brand {
  padding: 1.125em;
  height: auto;
  font-size: 1em;
  text-transform: none;
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse li a {
  padding: 1.125em;
  color: #ffffff !important;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
header nav.navbar div.container-fluid div.navbar-collapse li a:hover,
header nav.navbar div.container-fluid div.navbar-collapse li a:focus,
header nav.navbar div.container-fluid div.navbar-collapse li a:active {
  background-color: #2f394a;
  border-color: #6dd2dc;
}
header nav.navbar div.container-fluid div.navbar-collapse form {
  padding: 5px 0 0 0;
}
header nav.navbar div.container-fluid div.navbar-collapse form input.form-control {
  background-color: #2f394a;
  color: #ffffff;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 7px 7px 10px 15px;
}
header nav.navbar div.container-fluid div.navbar-collapse form input.form-control:focus,
header nav.navbar div.container-fluid div.navbar-collapse form input.form-control:active,
header nav.navbar div.container-fluid div.navbar-collapse form button:focus,
header nav.navbar div.container-fluid div.navbar-collapse form button:active {
  outline: 0;
  box-shadow: none;
}
header nav.navbar div.container-fluid div.navbar-collapse form ::-webkit-input-placeholder {
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form :-moz-placeholder {
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form ::-moz-placeholder {
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form :-ms-input-placeholder {
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form button {
  margin: 0;
  padding: 7px 15px 7px 10px;
  background-color: #2f394a;
  color: #ffffff;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* MAIN CONTENT
   ================================================== */
div#wrapper div#main-content {
  width: 75%;
  margin: 0 auto;
}
div#wrapper div#main-content .container {
  width: 100%;
}
.home div.panel {
  border-radius: 0;
  box-shadow: none;
  border: none;
  position: relative;
}
.home div.panel:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  display: block;
  width: 0;
  border-bottom: 25px solid #3292B5;
  border-left: 0px solid #3292B5;
  z-index: 1;
  color: #F1F2F6;
}
.home div.panel div.panel-heading {
  color: #fff;
  background-color: #3bafda;
  border-color: #3bafda;
}
.home div.panel div.panel-heading i {
  margin-top: 6px;
  font-size: 3em;
}
.home div.panel div.panel-heading h3 {
  margin: 10px 0;
}
.home div.panel div.panel-body a {
  display: block;
  padding: 15px;
  background-color: #ffffff;
  color: #3bafda;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.home div.panel div.panel-body a:hover,
.home div.panel div.panel-body a:focus,
.home div.panel div.panel-body a:active {
  color: #33495d;
  text-decoration: none;
}
.home div.panel-blue div.panel-heading {
  background-color: #3bafda;
  border-color: #3bafda;
}
.home div.panel-blue:before {
  border-bottom: 25px solid #2494be;
  border-left: 0 solid #2494be;
}
.home div.panel-green div.panel-heading {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.home div.panel-green:before {
  border-bottom: 25px solid #2b957a;
  border-left: 0 solid #2b957a;
}
.home div.panel-red div.panel-heading {
  background-color: #da4453;
  border-color: #da4453;
}
.home div.panel-red:before {
  border-bottom: 25px solid #c42737;
  border-left: 0 solid #c42737;
}
.home div.panel-red i {
  padding: 25px 0;
}
div.panel {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div.panel div.panel-heading {
  padding: 20px 30px;
  background-color: #AACEF1;
  border-radius: 0;
  border-bottom: 3px solid #68a8e6;
}
div.panel div.panel-heading .panel-title {
  color: #30394a;
  font-weight: bold;
}
div.panel .panel-body {
  padding: 0;
  background-color: transparent;
}
div.panel .panel-body ul li {
  margin: 6px 0;
  padding: 15px 30px;
  background-color: #ffffff;
  list-style-type: none;
}
div.panel .panel-body ul li a {
  display: inline-block;
  color: #6dd2dc;
  font-weight: bold;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
div.panel .panel-body ul li a:hover,
div.panel .panel-body ul li a:focus,
div.panel .panel-body ul li a:active {
  text-decoration: none;
  color: #30394a;
}
div.panel .panel-body ul li div {
  display: inline-block;
  max-width: 85%;
}
div.panel .panel-body ul li div.controls {
  max-width: 15%;
  display: inline-block;
  float: right;
}
div.panel .panel-body ul li div.controls a {
  margin: 0 7px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
div.panel .panel-body ul li div.controls a:hover,
div.panel .panel-body ul li div.controls a:focus,
div.panel .panel-body ul li div.controls a:active {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
/* ADD POST
   ================================================== */
div#wrapper div#main-content div.content-body div.main-body div.title {
  padding: 0;
}
div#wrapper div#main-content button.category-button {
  padding: 6px 20px;
  background-color: transparent;
  color: #8f8b8b;
  border: 3px solid #f2f2f2;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
div#wrapper div#main-content button.category-button:hover,
div#wrapper div#main-content button.category-button:focus,
div#wrapper div#main-content button.category-button:active {
  background-color: transparent;
  border-color: #33495d;
}
div#wrapper div#main-content .category-dropdown-menu {
  padding: 0;
  border: 3px solid #33495d;
  border-radius: 0;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
div#wrapper div#main-content .category-dropdown-menu li a {
  color: #8f8b8b;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
div#wrapper div#main-content .category-dropdown-menu li a:hover,
div#wrapper div#main-content .category-dropdown-menu li a:focus,
div#wrapper div#main-content .category-dropdown-menu li a:active {
  background-color: #33495d;
  color: #ffffff;
}
div#wrapper div#main-content .add-post div.main-body div.image .wrapper {
  position: relative;
}
div#wrapper div#main-content .add-post div.main-body div.image .wrapper:hover .opacity-overlay {
  visibility: visible;
  opacity: 1;
}
div#wrapper div#main-content .add-post div.main-body div.image .opacity-overlay {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
div#wrapper div#main-content .add-post div.main-body div.image .opacity-overlay div {
  margin: -10px 0 0 0;
  width: 100%;
  font-size: 1.7em;
  position: absolute;
  top: 50%;
}
div#wrapper div#main-content .add-post div.main-body div.image .opacity-overlay div a {
  margin: 0 10px;
}
div#wrapper div#main-content .add-post div.main-body div.image .opacity-overlay div a:hover i,
div#wrapper div#main-content .add-post div.main-body div.image .opacity-overlay div a:focus i,
div#wrapper div#main-content .add-post div.main-body div.image .opacity-overlay div a:active i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
div#wrapper div#main-content .add-post div.main-body div.image .opacity-overlay div a i {
  font-size: 1.7em;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
div#wrapper div#main-content .add-post div.main-body .input {
  background-color: transparent;
  border: 3px solid #f2f2f2;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
div#wrapper div#main-content .add-post div.main-body .input:active,
div#wrapper div#main-content .add-post div.main-body .input:focus {
  outline: 0;
  border-color: #33495d;
}
div#wrapper div#main-content .add-post div.main-body a.image-placeholder {
  display: block;
  padding: 75px 0;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  border: 3px dashed #f2f2f2;
  border-radius: 15px;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
div#wrapper div#main-content .add-post div.main-body a.image-placeholder:hover,
div#wrapper div#main-content .add-post div.main-body a.image-placeholder:focus,
div#wrapper div#main-content .add-post div.main-body a.image-placeholder:active {
  outline: 0;
  text-decoration: none;
  color: #c1bfbf;
  border-color: #c1bfbf;
  cursor: pointer;
}
div#wrapper div#main-content .add-post div.main-body a.image-placeholder p i,
div#wrapper div#main-content .add-post div.main-body a.image-placeholder span {
  font-size: 1.7em;
  font-weight: 600;
}
/* LOG IN
   ================================================== */
.log-in {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.log-in #main-content {
  width: 90%;
  display: table-cell;
  vertical-align: middle;
}
.log-in #main-content .articles {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
