/*
Author     : Krasimir Stoyanov
Company    : ProDevity
Description: AdminPanel Style-Layout

*/

/* Table of Content
==================================================

#GENERAL
#HEADER
#MAIN CONTENT
#FOOTER

=====SECTIONS=====
#POSTS
#ADD POST
#COMMENTS
#ABOUT
#LOG IN

*/

/* GENERAL
   ================================================== */



@base-width: 960px;

@background-color: #f2f2f2;
@white-color: #fff;

@darkest-blue-color: #2F394A;
@dark-blue-color: #30394A;
@light-blue-color: #33495D;
@sky-blue-color: #6DD2DC;

@white-smoke-color: #ECECEC;
@light-green-color: #54c0b0;

@light-post-color: #c1bfbf;
@dark-post-color: #636467;

.fast-transition {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

// Transition function
.slow-transition {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.rotate(@value) {
  -webkit-transform: rotate(@value);
  -moz-transform: rotate(@value);
  -ms-transform: rotate(@value);
  -o-transform: rotate(@value);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation = 0);
}

@font-face {
  font-family: 'jaapokki_enchanceregular';
  src: url('type/jaapokkienchance-regular-webfont.eot');
  src: url('type/jaapokkienchance-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('type/jaapokkienchance-regular-webfont.woff2') format('woff2'),
       url('type/jaapokkienchance-regular-webfont.woff') format('woff'),
       url('type/jaapokkienchance-regular-webfont.ttf') format('truetype'),
       url('type/jaapokkienchance-regular-webfont.svg#jaapokki_enchanceregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jaapokkiregular';
  src: url('type/jaapokki-regular-webfont.eot');
  src: url('type/jaapokki-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('type/jaapokki-regular-webfont.woff2') format('woff2'),
       url('type/jaapokki-regular-webfont.woff') format('woff'),
       url('type/jaapokki-regular-webfont.ttf') format('truetype'),
       url('type/jaapokki-regular-webfont.svg#jaapokkiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('type/CenturyGothic.eot');
  src: url('type/CenturyGothic.woff') format('woff'),
       url('type/CenturyGothic.ttf') format('truetype'),
       url('type/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'CenturyGothic';
  font-size: 16px;
}

html, body {
  background-color: @background-color;
  font-family: 'CenturyGothic';
  font-size: 16px;
}

a.add {
  color: @white-color;

  .fast-transition();

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    .rotate(180deg);
  }
}

a.green-color {
  color: @light-green-color;
}

a.absolute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

input.edit-input {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 0;

  .fast-transition();

  &:active,
  &:focus {
    outline: 0;
  }
}

input.full-name {
  font-weight: bold;
  font-size: 1.5em;
  color: @light-green-color;
}

input.small {
  font-size: 85%;
}

textarea.edit-input {
  width: 100%;
  max-width: 100%;
  height: 150px;
  border: 0;
}

/* HEADER
   ================================================== */
header {
  width: 100%;

  nav.navbar {
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 0;
    background-color: @light-blue-color;

    div.container-fluid {
      width: 72%;
      height: 100%;

      div.navbar-header {
        a.navbar-brand {
          padding: 1.125em;
          height: auto;
          font-size: 1em;
          text-transform: none;
          color: @white-color;
        }
      }

      div.navbar-collapse {
        li {
          a {
            padding: 1.125em;
            color: @white-color !important;
            background-color: transparent;
            border-bottom: 4px solid transparent;

            .fast-transition();

            &:hover, &:focus, &:active {
              background-color: @darkest-blue-color;
              border-color: @sky-blue-color;
            }
          }
        }
        form {
          padding: 5px 0 0 0;

          input.form-control {
            background-color: @darkest-blue-color;
            color: @white-color;
            border: 0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 7px 7px 10px 15px;
          }

          input.form-control:focus,
          input.form-control:active,
          button:focus,
          button:active {
            outline: 0;
            box-shadow: none;
          }

          ::-webkit-input-placeholder {
            color: @white-color;
          }

          :-moz-placeholder {
            color: @white-color;
          }

          ::-moz-placeholder {
            color: @white-color;
          }

          :-ms-input-placeholder {
            color: @white-color;
          }

          button {
            margin: 0;
            padding: 7px 15px 7px 10px;
            background-color: @darkest-blue-color;
            color: @white-color;
            border: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }
      }
    }
  }
}

/* MAIN CONTENT
   ================================================== */

div#wrapper {
  div#main-content {
    width: 75%;
    margin: 0 auto;

    .container {
      width: 100%;
    }
  }
}

.home {
  div.panel {
    border-radius: 0;
    box-shadow: none;
    border: none;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0 25px 25px 0;
      border-style: solid;
      display: block;
      width: 0;
      border-bottom: 25px solid #3292B5;
      border-left: 0px solid #3292B5;
      z-index: 1;
      color: #F1F2F6;
    }

    div.panel-heading {
      color: #fff;
      background-color: #3bafda;
      border-color: #3bafda;

      i {
        margin-top: 6px;
        font-size: 3em;
      }

      h3 {
        margin: 10px 0;
      }
    }

    div.panel-body {
      a {
        display: block;
        padding: 15px;
        background-color: @white-color;
        color: #3bafda;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;

        .fast-transition();

        &:hover,
        &:focus,
        &:active {
          color: @light-blue-color;
          text-decoration: none;
        }
      }
    }
  }

  div.panel-blue {
    div.panel-heading {
      background-color: #3bafda;
      border-color: #3bafda;
    }

    &:before {
      border-bottom: 25px solid darken(#3bafda, 10);
      border-left: 0 solid darken(#3bafda, 10);
    }
  }

  div.panel-green {
    div.panel-heading {
      background-color: #37bc9b;
      border-color: #37bc9b;
    }

    &:before {
      border-bottom: 25px solid darken(#37bc9b, 10);
      border-left: 0 solid darken(#37bc9b, 10);
    }
  }

  div.panel-red {
    div.panel-heading {
      background-color: #da4453;
      border-color: #da4453;
    }

    &:before {
      border-bottom: 25px solid darken(#da4453, 10);
      border-left: 0 solid darken(#da4453, 10);
    }

    i {
      padding: 25px 0;
    }
  }
}

div.panel {
  background-color: transparent;
  border: 0;
  border-radius: 0;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;

  div.panel-heading {
    padding: 20px 30px;
    background-color: #AACEF1;
    border-radius: 0;
    border-bottom: 3px solid darken(#AACEF1, 15%);

    .panel-title {
      color: @dark-blue-color;
      font-weight: bold;
    }
  }

  .panel-body {
    padding: 0;
    background-color: transparent;

    ul {
      li {
        margin: 6px 0;
        padding: 15px 30px;
        background-color: @white-color;
        list-style-type: none;

        a {
          display: inline-block;
          color: @sky-blue-color;
          font-weight: bold;

          .fast-transition();

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            color: @dark-blue-color;
          }
        }

        div {
          display: inline-block;
          max-width: 85%;
        }

        div.controls {
          max-width: 15%;
          display: inline-block;
          float: right;

          a {
            margin: 0 7px;
            .slow-transition();

            &:hover,
            &:focus,
            &:active {
              .rotate(360deg);
            }
          }
        }
      }
    }
  }
}

/* ADD POST
   ================================================== */

div#wrapper {
  div#main-content {
    div.content-body {
      div.main-body {
        div.title {
          padding: 0;
        }
      }
    }

    button.category-button {
      padding: 6px 20px;
      background-color: transparent;
      color: darken(@light-post-color, 20%);
      border: 3px solid @background-color;
      border-radius: 0;

      .fast-transition();

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        border-color: @light-blue-color;
      }
    }

    .category-dropdown-menu {
      padding: 0;
      border: 3px solid @light-blue-color;
      border-radius: 0;

      left: 50%;
      right: auto;
      text-align: center;
      transform: translate(-50%, 0);

      -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
      -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);

      li {
        a {
          color: darken(@light-post-color, 20%);

          .fast-transition();

          &:hover,
          &:focus,
          &:active {
            background-color: @light-blue-color;
            color: @white-color;
          }
        }
      }
    }

    .add-post {
      div.main-body {
        div.image {
          .wrapper {
//            display: none;
            position: relative;

            &:hover {
              .opacity-overlay {
                visibility: visible;
                opacity: 1;
              }
            }
          }

          .opacity-overlay {
            visibility: hidden;
            opacity: 0;

            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.75);

            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            .fast-transition();

            div {
              margin: -10px 0 0 0;
              width: 100%;
              font-size: 1.7em;
              position: absolute;
              top: 50%;

              a {
                margin: 0 10px;

                &:hover,
                &:focus,
                &:active {
                  i {
                    .rotate(360deg);
                  }
                }

                i {
                  font-size: 1.7em;
                  color: @white-color;

                  .slow-transition();
                }
              }
            }
          }
        }

        .input {
          background-color: transparent;
          border: 3px solid @background-color;
          text-align: center;

          .fast-transition();

          &:active,
          &:focus {
            outline: 0;
            border-color: @light-blue-color;
          }
        }

        a.image-placeholder {
          display: block;
          padding: 75px 0;
          width: 100%;
          text-align: center;
          color: @background-color;
          border: 3px dashed @background-color;
          border-radius: 15px;

          .fast-transition();

          &:hover,
          &:focus,
          &:active {
            outline: 0;
            text-decoration: none;
            color: @light-post-color;
            border-color: @light-post-color;
            cursor: pointer;
          }

          p i,
          span {
            font-size: 1.7em;
            font-weight: 600;
          }
        }
      }
    }
  }
}

/* LOG IN
   ================================================== */

.log-in {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  #main-content {
    width: 90%;
    display: table-cell;
    vertical-align: middle;

    .articles {
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
  }
}