/*
Author     : Krasimir Stoyanov
Company    : ProDevity
Description: AdminPanel Style-Layout

*/
/* Table of Content
==================================================

#GENERAL
#HEADER
#MAIN CONTENT
#FOOTER

=====SECTIONS=====
#POSTS
#COMMENTS
#ABOUT

*/
/* GENERAL
   ================================================== */
.fast-transition {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.slow-transition {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@font-face {
  font-family: 'jaapokki_enchanceregular';
  src: url('type/jaapokkienchance-regular-webfont.eot');
  src: url('type/jaapokkienchance-regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/jaapokkienchance-regular-webfont.woff2') format('woff2'), url('type/jaapokkienchance-regular-webfont.woff') format('woff'), url('type/jaapokkienchance-regular-webfont.ttf') format('truetype'), url('type/jaapokkienchance-regular-webfont.svg#jaapokki_enchanceregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'jaapokkiregular';
  src: url('type/jaapokki-regular-webfont.eot');
  src: url('type/jaapokki-regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/jaapokki-regular-webfont.woff2') format('woff2'), url('type/jaapokki-regular-webfont.woff') format('woff'), url('type/jaapokki-regular-webfont.ttf') format('truetype'), url('type/jaapokki-regular-webfont.svg#jaapokkiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('type/CenturyGothic.eot');
  src: url('type/CenturyGothic.woff') format('woff'), url('type/CenturyGothic.ttf') format('truetype'), url('type/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  background-color: #f2f2f2;
  font-family: 'CenturyGothic';
  font-size: 16px;
}
/* HEADER
   ================================================== */
header {
  width: 100%;
}
header nav.navbar {
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #33495d;
}
header nav.navbar div.container-fluid {
  width: 72%;
  height: 100%;
}
header nav.navbar div.container-fluid a.navbar-brand {
  padding: 1.125em;
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse li a {
  padding: 1.125em;
  color: #ffffff !important;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
header nav.navbar div.container-fluid div.navbar-collapse li a:hover,
header nav.navbar div.container-fluid div.navbar-collapse li a:focus,
header nav.navbar div.container-fluid div.navbar-collapse li a:active {
  background-color: #2f394a;
  border-color: #6dd2dc;
}
header nav.navbar div.container-fluid div.navbar-collapse form {
  padding: 5px 0 0 0;
}
header nav.navbar div.container-fluid div.navbar-collapse form input.form-control {
  background-color: #2f394a;
  color: #ffffff;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 7px 7px 10px 15px;
}
header nav.navbar div.container-fluid div.navbar-collapse form input.form-control:focus,
header nav.navbar div.container-fluid div.navbar-collapse form input.form-control:active,
header nav.navbar div.container-fluid div.navbar-collapse form button:focus,
header nav.navbar div.container-fluid div.navbar-collapse form button:active {
  outline: 0;
  box-shadow: none;
}
header nav.navbar div.container-fluid div.navbar-collapse form ::-webkit-input-placeholder {
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form :-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form :-ms-input-placeholder {
  color: #ffffff;
}
header nav.navbar div.container-fluid div.navbar-collapse form button {
  margin: 0;
  padding: 7px 15px 7px 10px;
  background-color: #2f394a;
  color: #ffffff;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
div#main-content {
  width: 75%;
  margin: 0 auto;
}
div#main-content .container {
  width: 100%;
}
div.panel {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div.panel div.panel-heading {
  padding: 20px 30px;
  background-color: #AACEF1;
  border-radius: 0;
  border-bottom: 3px solid #68a8e6;
}
div.panel div.panel-heading .panel-title {
  color: #30394a;
  font-weight: bold;
}
div.panel .panel-body {
  padding: 0;
  background-color: transparent;
}
div.panel .panel-body ul li {
  margin: 6px 0;
  padding: 15px 30px;
  background-color: #ffffff;
  list-style-type: none;
}
div.panel .panel-body ul li a {
  display: inline-block;
  color: #6dd2dc;
  font-weight: bold;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
div.panel .panel-body ul li a:hover,
div.panel .panel-body ul li a:focus,
div.panel .panel-body ul li a:active {
  text-decoration: none;
  color: #30394a;
}
div.panel .panel-body ul li div.controls {
  display: inline-block;
  float: right;
}
div.panel .panel-body ul li div.controls a {
  margin: 0 7px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
div.panel .panel-body ul li div.controls a:hover,
div.panel .panel-body ul li div.controls a:focus,
div.panel .panel-body ul li div.controls a:active {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
